Standard: Cpp11
BasedOnStyle: google
Language: Cpp
IndentWidth: 4
TabWidth: 4

Cpp11BracedListStyle: true
PointerAlignment: Left


ColumnLimit: 120

AccessModifierOffset: -4
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

AllowShortCaseLabelsOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: true 
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AlignEscapedNewlines: Left

AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
AlwaysBreakAfterReturnType: None

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: true
  BeforeCatch: false
  BeforeElse: false
  AfterNamespace: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false

BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon

BreakStringLiterals: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false

ContinuationIndentWidth: 4
FixNamespaceComments: true
IncludeBlocks: Merge

IndentCaseLabels: true
IndentPPDirectives: BeforeHash

IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: false

MaxEmptyLinesToKeep: 1

ReflowComments: true

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 3
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false